body{
    margin: 0;
}
#title{
    text-align: center;
    font-size: 17px;
    font-family: Verdana;
    color: darkgray;
    margin-top:30px;
    margin-bottom: 50px; 
}
.mid-box{
    width: 470px;
    height: 450px;
    margin:auto;
    margin-top:130px;
    margin-bottom:2%;
    border: 10px solid #925C96;
}
table{
    margin:auto;
    border: 1px solid lightgray;
    padding: 10px;
}
table h5{
    margin: 6px;
    padding: 0;
}
button{
    width: 80px;
    height:25px;
    border:none;
    border-radius:10px;
    color:white;
}
#btn-cal{
    background-color: #0871AF  ;
}
#btn-reset{
    background-color: #A92E2E  ;
}



@media screen and (max-width:620px) {
  .mid-box {
    margin-top: 100px;
    width: 420px;
	height: 550px;
  }
}