h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}
input{
    font-size: 16px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    width:700px;
    height: 30px;
    margin:10px;
    padding-left: 10px;
}
form button{
    width:100px;
    height:30px;
    float: right;
    margin-right: 10px;
    margin-top: 50px;
    border: none;
    color: white;
}
form button:hover{
    transform: scale(1.05);
}
#form-update h1{
    margin-bottom: 40px;
}
#form-update table th{
    width: 250px;
    padding-top:10px;
}

#form-update #btn-edit{
    background-color: #0871AF;
}
#form-update #btn-delete{
    background-color: #A92E2E;
}
#form-search{
    margin-left:100px;
}
#form-search button{
    float: none;
    background-color: #8A8A8A ;
}
#form-search select{
    margin-left: 50px;
    height: 25px;
    width: 120px;
}
#editable{
    color: #51BDC8;
}
@media screen and (max-width:1000px) {
	input{
        width:640px;
        height: 30px;
        margin:10px;
        font-size: 14px;
    }
   
}
@media screen and (max-width:500px) {
	input{
        width:300px;
        height: 20px;
        margin:5px;
        padding-left: 5px;
        font-size: 12px;
    }
    table th{
        width: 150px;
        padding-top:5px;
        font-size: 15px;
    }
    
}