
body{
    margin: 0;
}
h2,h4{
    color: white;
    font-family: Verdana;
    text-align: center;
    width: 230px;
    margin-left: 4px;
    margin-top: 0;
}
h4{
    border: 1px dotted white;
    padding:5px; 
    background-color: #5E4C66;

}
h4:hover{
    transform: scale(1.03);
}
.dashboard{
    float: left;
    width: 250px;
    height:2000px;;
    background-color: #513561  ;
    padding-top: 10px;
}
.dashboard button{
    width: 250px;
    height: 50px;
    margin-top: 20px;
    background-color: #513561  ;
    color: white;
    border:none;
    font-family: Verdana;
    text-align: center;

}
.dashboard button:hover{
    color: black;
}
#btn-user{
    background-color:#844EA3;
}
.accounts-panel,.bill-panel{
    display: none;
}

.users-panel,.accounts-panel,.bill-panel{
    width:60%;
    height:auto;
    float: left;
    margin-left: 100px;
    text-align: left;
    margin-top: 50px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
}
input{
    font-size: 16px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid black;
    width:700px;
    height: 30px;
    margin:10px;
    padding-left: 10px;
}
form button{
    width:100px;
    height:30px;
    float: right;
    margin-right: 10px;
    margin-top: 50px;
    border: none;
    color: white;
}
form button:hover{
    transform: scale(1.05);
}
table select{
    width: 100px;
    height: 30px;
    margin-top:10px;
    margin-left:10px;
}
#form-add{
    height: 550px;
}
#form-add table{
    margin-top:50px;
}
#form-add table th{
    width: 250px;
    padding-top:10px;
}

#form-add #btn-save{
    background-color: #0871AF;
}
#form-add #btn-cancel{
    background-color: #A92E2E;
}

.div-view{
    width:fit-content;
    height: 550px;
}
.div-view form{
    height: 20px;
    display: inline;
}
.div-view iframe{
    height: 400px;
    border:none;
    width:700px;
}
.div-view h1{
    margin-top: 130px;
    margin-bottom: 40px;
}
.div-view table th{
    padding:10px;
    background-color: #ABA26F;
}
.div-view table td{
    background-color: #F8F4DB  ;
    padding:5px;
    width: 150px;
}



iframe{
    width:1100px;
    height:650px;
}

@media screen and (max-width:1380px) {
    .users-panel,.accounts-panel,.bill-panel{
        width: 900px;
        margin-left: 50px;
    }
    iframe{
        width:900px;
    }
    
    .dashboard{
        width: 250px;
    }
    .dashboard button{
        width: 250px; 
    }
	input{
        width:640px;
        height: 30px;
        margin:10px;
        font-size: 14px;
    }
   
}
@media screen and (max-width:1216px) {
    .users-panel,.accounts-panel,.bill-panel{
        width: 500px;
        margin-left: 50px;
        
    }
    iframe{
        width:500px;
    }
    .dashboard{
        width: 150px;
    }
    .dashboard button{
        width: 150px; 
    }
    .dashboard h4,h2{
        padding: 0;
        width:140px;
    }
	input{
        width:300px;
        height: 20px;
        margin:5px;
        padding-left: 5px;
        font-size: 12px;
    }
    table th{
        width: 150px;
        padding-top:5px;
        font-size: 15px;
    }
    
}
