body{
    margin:0;
    font-family: Verdana;
}
.news-div{
	position: inherit;
	display: inline-table;
	width: 100%;
	margin:auto;
}



.news {
	box-shadow: 0 4px 8px 0 #CCCCCC;
	width: 25%;
	height: 600px;
	margin-top: 50px;
	margin-left: 95px;
	float: left;

}

.news:hover {
	box-shadow: 0 10px 18px 0 #CCCCCC;
}

#first{
	background-color: #44A5C3;
	text-align: center;
	color: white;
}
#second{
    background-color: #D9BF81;
	text-align: center;
	color: white;
}
#third{
	
	background-color: #CF7BEC;
	text-align: center;
	color: white;
}
.news button{
    background-color: transparent;
    padding: 6px;
	width: 70%;
    height: 40px;
    font-weight: bold;
}
#btn-first{
	border: 2px solid #f8c445;
	color: #f9cd62;
	
}
#btn-second{
	border: 2px solid #D7504E;
	color: #D7504E;
}
#btn-third{
	border: 2px solid #7C49C3  ;
	color: #7C49C3  ;
}

@media screen and (max-width:1400px) {
	.news{
	  height: 550px;
	  margin-left: 80px;
	}
  }